<div class="bg-gray-400 text-red-700 flex flex-col mx-auto text-center rounded overflow-hidden shadow-lg p-10 mb-6 justify-center">
  <h1 class="font-bold text-xl m-2">Editing: <%= @player.ally_code %></h1>
  <%= form_with(model: @player) do |f| %>
    <div class="flex flex-col">
      <%= f.label :lifetime_raid_tickets, class: "text-lg font-bold mb-1" %>
      <%= f.number_field :lifetime_raid_tickets, autofocus: true, class: "px-3 py-2 border rounded-md shadow-sm border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-1 focus:outline-none" %>
    </div>
    <%= f.submit "Update Raid Tickets", class: "px-6 py-2 m-2 bg-sky-500 text-white rounded-md hover:bg-blue-600 focus:outline-none" %>
  <% end %>
</div>
