<div class="max-w-3xl">
  <section class="bg-gray-400 text-red-700 mx-auto text-center rounded overflow-hidden shadow-lg p-10 mb-6">
    <h1 class="text-3xl font-bold m-6">Hello Boyos</h1>
    <h2 class="underline">Jar Jar's Above Ground Pool</h2>
    <p class="m-2">Welcome to the guild management app for Star Wars Galaxy of Heroes guild Jar Jar's Above Ground Pool. SWGOH is a popular mobile game centered around collecting & upgrading popular Star Wars characters. This app is used by the officers of the guild to manage players based on their activity in the game.</p>
  </section>
  <section>
    <ul class="flex flex-wrap justify-center">
      <% @players.each do |player| %>
        <% data = player.get_player_data(player.ally_code) %>
        <div class="bg-gray-400 text-white rounded shadow m-4 w-80 h-80">
          <button class="m-2 bg-sky-500 rounded p-1"><%= link_to data['data']['name'], player %></button>
          <img class="m-2 rounded" src="<%= data['data']['portrait_image'] %>" alt="">
          <li class="text-red-700 m-2">Ally Code: <%= player.ally_code %></li>
          <li class="text-red-700 m-2">GP: <%= number_with_delimiter(data['data']['galactic_power']) %></li>
          <li class="text-red-700 m-2">Arena Leader: <%= data['data']['arena_leader_base_id'] %></li>
        </div>
      <% end %>
    </ul>
  </section>
</div>
