<div class="bg-gray-500 text-white max-w-lg mx-auto text-center max-w-sm rounded overflow-hidden shadow-lg p-10 mb-6 justify-center">
<h1 class="mb-2">Add New Player to the Guild:</h1>

<%= form_with(model: @player) do |f| %>
  <%#= @player.errors.full_messages.to_sentence %>
  <%= render "shared/errors", object: @player %>

  <%= f.label :ally_code %>
  <%= f.text_field :ally_code, autofocus: true %>

  <%= f.submit %>
<% end %>
</div>
