<h1>Add New Player to the Guild:</h1>

<%= form_with(model: @player) do |f| %>
  <%#= @player.errors.full_messages.to_sentence %>
  <%= render "shared/errors", object: @player %>

  <%= f.label :ally_code %>
  <%= f.text_field :ally_code, autofocus: true %>

  <%= f.submit %>
<% end %>
